*.suo

*.sdf

/TrabalhoCriptografia/ipch
/TrabalhoCriptografia/Debug
/TrabalhoCriptografia/Release

/TrabalhoCriptografia/TrabalhoCriptografia/Debug
/TrabalhoCriptografia/TrabalhoCriptografia/Release

/TrabalhoCriptografia/*.opensdf

/TrabalhoCriptografia/*.suo

/TrabalhoCriptografia/TrabalhoCriptografia/TrabalhoCriptografia.vcxproj.user

*.db

TrabalhoCriptografia.vcxproj.user
/trab_esteganografia/TrabalhoCriptografia/Debug/Trabalho.EBE043B1.tlog/*.tlog
/trab_esteganografia/TrabalhoCriptografia/Debug/*.obj
/trab_esteganografia/TrabalhoCriptografia/Debug/*.log
/trab_esteganografia/TrabalhoCriptografia/obj
/trab_esteganografia/TrabalhoCriptografia/Debug
*.opensdf

*.exe
*.pdb

*.ilk

/trab_esteganografia/TrabalhoCriptografia/TrabalhoCripto.exe
