*.suo

*.sdf

/TrabalhoCriptografia/ipch
/TrabalhoCriptografia/Debug
/TrabalhoCriptografia/Release

/TrabalhoCriptografia/TrabalhoCriptografia/Debug
/TrabalhoCriptografia/TrabalhoCriptografia/Release

/TrabalhoCriptografia/*.opensdf

/TrabalhoCriptografia/*.suo

/TrabalhoCriptografia/TrabalhoCriptografia/TrabalhoCriptografia.vcxproj.user

*.db

TrabalhoCriptografia.vcxproj.user
