*.suo

*.sdf

/TrabalhoCriptografia/ipch
/TrabalhoCriptografia/Debug
/TrabalhoCriptografia/Release

/TrabalhoCriptografia/TrabalhoCriptografia/Debug
/TrabalhoCriptografia/TrabalhoCriptografia/Release

/TrabalhoCriptografia/*.opensdf
